aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
asttokens==3.0.2
attrs==26.1.0
decorator==5.3.1
executing==2.2.1
frozenlist==1.8.0
idna==3.18
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
multidict==6.7.1
odrive==0.6.11.post0
packaging==26.2
parso==0.8.7
pexpect==4.9.0
prompt_toolkit==3.0.53
propcache==0.5.2
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pygame==2.6.1
Pygments==2.20.0
python-can==4.6.1
setuptools==83.0.0
stack-data==0.6.3
traitlets==5.15.1
typing_extensions==4.16.0
urwid==4.0.5
wcwidth==0.8.2
wrapt==1.17.3
yarl==1.24.5
